@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
:root {
  --nav-size: 60px;
  --border-radius: 1px;
  --speed: 500ms;
  --pixel: 5px;
  --bg: #000033;
  --bg-accent: #000080;
  --text-color: #dadce1;
  --text-hover: #113;
  --border: 1px solid #474a4d;
  --color: #20c20e;
  --hacker: #00cc00;
  --forest: #003d06;
  --black: #000;
  --white: #fff;
  --navy: #090979;
  --dark: #333;
  --cyan: #0ff;
  --dark1-overlay: rgba(4, 4, 22, .6);
  --dark2-overlay: rgba(4, 4, 22, .8);
  --dark3-overlay: rgba(4, 4, 22, .5);
  --onyx: rgba(0, 26, 4, .8);
  --topics: #0276fd;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: var(--bg);
  color: var(--color);
  font-size: .8rem;
}

body {
  margin: 0;
  padding: 0;
}

/* ==================== SHOWCASE ======================= */
.showcase {
  background-image: url("./images/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}
.intro {
  font-weight: 200;
  height: 100%;
  width: 96%;
  background: var(--dark1-overlay);
  padding: 2%;
}
.intro h5 {
  margin-top: 80vh;
}
.tech_profiles {
  margin: -85vh auto 0 auto;
  padding: 1rem;
}
table {
  width: 50%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
}
@media (max-width: 800px){
  table { width: 80%}
}
td {
  border: 1px solid var(--hacker);
  padding: 0rem;
}
tr:nth-child(even) {
  background-color: var(--onyx);
}
tr:nth-child(odd) {
  background-color: var(--dark2-overlay);
}
tr:hover {
  background: var(--forest);
  transition: .5s ease;
}
.tech_profiles a {
  text-decoration: none;
  color: var(--hacker);
  font-size: 1rem;
}
.showcase__fade-bottom {
  height: 10rem;
  background-image: linear-gradient(182deg, transparent, var(--bg), var(--bg) 80%);
  margin: auto 0 -5rem 0;
  box-shadow: none;
  position: absolute;
  bottom: 0;
}

/* ==================== INFO ======================= */
.info_section {
  margin: 7rem 5rem 3rem 5rem;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.info_section__pair {
  width: 70%;
  margin: 0 0 0 -9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ==================== PROJECTS ======== */
.projects_section {
  width: 49%;
}
.project_container {
  padding: 1rem;
  margin: -3rem -1rem;
}
.info_project__content {
  margin: 1rem .1rem;
  padding: .5rem;
  color: var(--text-color);
  justify-content: flex-start;
}
.info_project__content h5, .info_project__content h5 a {
  font-size: .9rem;
  color: var(--cyan);
  width: fit-content; 
  margin: 3px 0;
  padding: 5px;
  border-radius: 5px;
}
.info_project__content h5:hover {
  background-color: var(--forest);
  cursor: pointer;
}
.info_project__content h5 a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.info_project__content p {
  margin: 0;
  padding: 0;
}

/* ==================== BLOG ============ */
.blogs_section {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.blog {
  margin: .05rem;
}
.blog a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-color);
  padding: 5px;
  border-radius: 3px;
}
.blog a:hover {
  color: var(--cyan);
  background-color: var(--text-hover);
  transition: background-color;
  transition-duration: 500ms;
  transition-delay: 0ms;
}
.blog_img {
  justify-content: center;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  margin: auto 1rem auto 0;
}
.blog_img img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 1.9rem;
  min-height: 1.9rem;
  border-radius: 1rem;
}

/* =================== WORK ========================== */
.experience_section {
  width: 30%;
  padding: 1rem;
}
.experience_container {
  margin: -3rem 0 0 0;
  padding: 0;
}
.work_timeline {
  width: 80%;
  padding: 2px;
  margin: 3rem 0;
}
.work_timeline__success { font-size: 9px; }
.work_timeline__content time {
  font-size: .8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 7px;
  color: var(--text-color);
}
.work_timeline__top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.work_timeline__tech-stack, .work_timeline__topics {
  display: flex;
  flex-wrap: wrap;
}
.work_timeline__tech-stack code {
  background-color: var(--dark);
  color: #dadce1;
  margin: 3px 5px;
  padding: 2px;
  border-radius: 8px;
}
.work_timeline__content h4 {
  color: var(--border);
  margin: 2px;
}
.work_timeline__content h5 {
  margin: 2px;
  padding: 2px;
}
.work_timeline__content h5 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7rem;
  color: #878787;
}
.work_timeline__content p {
  color: var(--text-color);
  margin: 2px;
}
.work_timeline__topics p {
  background-color: var(--topics);
  color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .7rem;
  font-weight: 700;
  margin: 1px 3px;
  padding: 4px;
  border-radius: 3px;
}
/* =================================================== */

/* ==================== FOOTER ======================= */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: var(--black);
}
.socials {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
  margin: 10px;
}


/* MEDIA ================================================================================= */
@media (max-width: 864px){
  /* ==================== INFO ======================= */
  .info_section {
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
  }
  .experience_section, .info_section__pair {
    width: 100%;
    padding: .5rem;
  }
/* =================================================== */
}


@media (max-width: 576px){
  body {
    font-size: .9rem;
  }
  /* ==================== INFO ======================= */
  .info_section__pair {
    flex-direction: column;
  }
  .blogs_section, .projects_section {
    width: 100%;
  }
/* =================================================== */
}


@media (min-width: 1600px){
  .info_section {
    width: 90rem;
    margin: 5rem auto;
  }
}