@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
:root {
  --nav-size: 60px;
  --border-radius: 1px;
  --speed: 500ms;
  --pixel: 5px;
  --bg: #000033;
  --bg-accent: #000080;
  --text-color: #dadce1;
  --text-hover: rgba(0, 61, 6, .5);
  --border: 1px solid #474a4d;
  --color: #20c20e;
  --hacker: #00cc00;
  --forest: #003d06;
  --black: #000;
  --white: #fff;
  --navy: #090979;
  --dark: #333;
  --cyan: #0ff;
  --dark1-overlay: rgba(4, 4, 22, .6);
  --dark2-overlay: rgba(4, 4, 22, .8);
  --dark3-overlay: rgba(4, 4, 22, .5);
  --onyx: rgba(0, 26, 4, .8);
}

html {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: var(--bg);
  color: var(--color);
}

body {
  margin: 0;
  padding: 0;
}

/* ==================== SHOWCASE ======================= */
.showcase {
  background-image: url("./images/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}
.intro {
  font-weight: 200;
  height: 100%;
  width: 96%;
  background: var(--dark1-overlay);
  padding: 2%;
}
.intro h5 {
  margin-top: 80vh;
}
.tech_profiles {
  margin: -85vh auto 0 auto;
  padding: 1rem;
}
table {
  width: 50%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
}
@media (max-width: 800px){
  table { width: 80%}
}
td {
  border: 1px solid var(--hacker);
  padding: 0rem;
}
tr:nth-child(even) {
  background-color: var(--onyx);
}
tr:nth-child(odd) {
  background-color: var(--dark2-overlay);
}
tr:hover {
  background: var(--forest);
  transition: .5s ease;
}
.tech_profiles a {
  text-decoration: none;
  color: var(--hacker);
  font-size: 1rem;
}
.showcase__fade-bottom {
  height: 10rem;
  background-image: linear-gradient(182deg, transparent, var(--bg), var(--bg) 80%);
  margin: auto 0 -5rem 0;
  box-shadow: none;
  position: absolute;
  bottom: 0;
}

/* ==================== INFO ======================= */
.info_section {
  margin: 3rem;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ==================== PROJECTS =================== */
.projects_section {
  width: 33%;
  padding: 1rem;
}

/* ==================== BLOG ======================= */
.blogs_section {
  width: 33%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.blog {
  padding: .05rem;
}
.blog a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-color);
  padding: .3rem;
}
.blog a:hover {
  color: var(--cyan);
  background-color: var(--text-hover);
  transition: background-color 500ms ease;
}
.blog_img {
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin: auto 1rem auto 0;
}
.blog_img img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 3.7rem;
  min-height: 3.1rem;
}

/* =================== HIGHLIGHTS ======= */
.highlights_section {
  width: 33%;
  padding: 1rem;
}

/* ==================== FOOTER ======================= */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: var(--black);
}
.socials {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text-color);
  margin: 10px;
}